*{
    margin: 0;
}
h2 {
    color: orange;
    display: inline-block;
    /** Take only as much space as needed */
}

p{
    color: limegreen;
    display: inline-block;
}

img {
    width: 100px;
    display: block; 
}

div {
    border: 5px solid maroon;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 5px;
}
#div1 {
    border: 2px dotted green;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:link {
    color: teal
}

a:visited {
    color: red
}

a:hover {
    color: magenta;
}

.general_button {
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 12.5px;
}

.add_to_cart {
    background-color: #FFD814;
}

.buy_now {
    background-color: #FFA41C;
}